<html>
<head>
    <title>Custom Layout</title>
    <style>
        body {
            background-color: lime;
        }

        h1, h2 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>This is a header</h1>

    <div class="container">
        @RenderBody()
    </div>

    <h2>This is a footer</h2>
</body>
</html>