@model web2.Models.Laptop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Note: remember to include enctype attribute in form declaration to upload image -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <select asp-for="Brand" class="form-control" />
                    <option value="Apple">Apple</option>
                    <option value="HP">HP</option>
                    <option value="Dell">Dell</option>
                    <option value="Asus">Asus</option>
                    <option value="Acer">Acer</option>
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control"/>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <br>
                Black <input type="radio" name="Color" value="Black"/>
                White <input type="radio" name="Color" value="White"/>
                Silver <input type="radio" name="Color" value="Silver"/>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
